In [47]:
import numpy as np
import pandas as pd

In [48]:
df=pd.read_csv('ch2_scores_em.csv', index_col = 'student number')
df.head()

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76

In [49]:
scores=np.array(df['english'])[:10]  #데이터를 pandas에서 불러오고, data는 numpy로 담음
#array는 0부터 indexing
#numpy의 array에 담음

In [50]:
scores

array([42, 69, 56, 41, 57, 48, 65, 49, 65, 58])

In [51]:
scores_df = pd.DataFrame({'score':scores},
                       index = pd.Index(['A', 'B', 'C', 'D', 'E', 
                                       'F', 'G', 'H', 'I', 'J'],
                                      name='student'))
scores_df

         score
student
A           42
B           69
C           56
D           41
E           57
F           48
G           65
H           49
I           65
J           58

In [52]:
sum(scores)/len(scores) #평균

np.float64(55.0)

In [53]:
np.mean(scores) #평균

np.float64(55.0)

In [54]:
sorted_scores=np.sort(scores) #정렬

In [55]:
sorted_scores

array([41, 42, 48, 49, 56, 57, 58, 65, 65, 69])

In [56]:
#중앙값
n =len(sorted_scores)
if n%2==0:
    m0=sorted_scores[n//2 - 1]
    m1=sorted_scores[n//2]
    median=(m0+m1)/2
else:
    median=sorted_scores[(n+1)//2 - 1]
median

np.float64(56.5)

In [57]:
np.median(scores)

np.float64(56.5)

In [58]:
scores_df.median()

score    56.5
dtype: float64

In [59]:
#최빈값
pd.Series([1, 1, 1, 2, 2, 3]).mode()

0    1
dtype: int64

In [60]:
pd.Series([1, 2, 3, 4, 5]).mode()

0    1
1    2
2    3
3    4
4    5
dtype: int64